# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.txt

# local env files (CRITICAL)
.env*
!.env.example
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temporary / debug files
*.json
!package.json
!package-lock.json
!tsconfig.json
!components.json
!vercel.json